@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  background: white;
  color: black;
  font-family: Inter, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html.dark body {
  background: #000000;
  color: white;
}
@keyframes shine {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::selection {
  background: rgba(253, 138, 44, 0.65);
  color: inherit;
}

::-moz-selection {
  background: rgba(253, 138, 44, 0.65);
  color: inherit;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}